* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App__wrapper {
    background: #090941;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.content__wrapper {
    border: 1px solid cyan;
    background: #090941;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: cyan;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 40px;
    font-weight: 700;
    min-height: 150px;
}

.btn_wrapper {
    border: 1px solid cyan;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.inc__btn {
    background-color: cyan;
    border: none;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    border-radius: 15px;
    min-width: 150px;
}

.inc__btn:disabled {
    opacity: 0.5;
}

.inc__btn:focus {
    background: #00d8ff;
    outline: none;
}

.inc__btn:hover {
    cursor: pointer;
    background: yellow;
}

.error__input {
    border: 1px solid red;
    color: red;
}
.default__input {

}

.error__input:focus {
    outline: none;
}